table,th,td{
    border: 1px solid black;
     
}
th{
    font: 2em sans-serif;
    font-weight: bold;
    background-color: cadetblue;
}

td{
    font: 1em sans-serif;
    background-color: thistle;
}