<div>
  <button style="padding: 15px;
  font-size:40px;margin: 5%;
  font-weight: bolder; 
  background-color:crimson ;
  border-width: 5px;
  border-radius: 15px;
  color: whitesmoke;"  (click)="onClick()">
  Click me to View data
</button>

<table style="width:100%">
  <tr>
      <th>"User Id"</th>
      <th>"It"</th>
      <th>"Title"</th>
      <th>"Body"</th>
  </tr>
  <tr *ngFor="let user of user">
      <td>{{user.userId}}</td>
      <td>{{user.id}}</td>
      <td>{{user.title}}</td>
      <td>{{user.body}}</td>
  </tr>
  
  
</table>

</div>

<div>
  <app-child-component (notify)="parentMethod($event)" ></app-child-component>
</div>